version: '3'
services:
    zookeeper:
        image: wurstmeister/zookeeper
 
    kafka:
        image: wurstmeister/kafka
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: localhost
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
    postgres:
        image: postgres
        env_file:
            - database.env
        volumes:
            - db:/var/lib/postgresql/data/
volumes:
  db:
