version: "3.7"
services:
    zookeeper:
        image: wurstmeister/zookeeper

    kafka:
        image: wurstmeister/kafka
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: kafka
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

    spark-master:
        image: bitnami/spark
        hostname: spark-master
        environment:
            - SPARK_MODE=master
            - SPARK_RPC_AUTHENTICATION_ENABLED=no
            - SPARK_RPC_ENCRYPTION_ENABLED=no
            - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
            - SPARK_SSL_ENABLED=no
            - SPARK_PUBLIC_DNS=localhost
        ports:
            - "7077:7077"
            - "8080:8080"

    spark-worker:
        image: bitnami/spark
        depends_on:
            - spark-master
            - kafka
            - elasticsearch
        hostname: spark-worker
        environment:
            - SPARK_MODE=worker
            - SPARK_MASTER_URL=spark://spark-master:7077
            - SPARK_WORKER_MEMORY=2G
            - SPARK_WORKER_CORES=2
            - SPARK_RPC_AUTHENTICATION_ENABLED=no
            - SPARK_RPC_ENCRYPTION_ENABLED=no
            - SPARK_LOCAL_STORAGE_ENCRYPTION_ENABLED=no
            - SPARK_SSL_ENABLED=no
            - SPARK_PUBLIC_DNS=localhost
        ports:
            - "4040:4040"
            - "8081:8081"

    flink-jobmanager:
        image: flink
        hostname: flink-jobmanager
        expose:
            - "6123"
        ports:
            - "9081:8081"
        command: jobmanager
        environment:
            - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager

    flink-taskmanager:
        image: flink
        depends_on:
            - flink-jobmanager
            - kafka
            - elasticsearch
        hostname: flink-taskmanager
        expose:
            - "6121"
            - "6122"
        command: taskmanager
        links:
            - "flink-jobmanager:jobmanager"
        environment:
            - JOB_MANAGER_RPC_ADDRESS=flink-jobmanager

    elasticsearch:
        image: docker.elastic.co/elasticsearch/elasticsearch:7.8.0
        hostname: elasticsearch
        environment:
            - discovery.type=single-node
        ports:
            - "9200:9200"
        networks:
            - elastic

    kibana:
        image: "docker.elastic.co/kibana/kibana:7.8.0"
        hostname: kibana
        depends_on:
            - elasticsearch
        ports:
            - "5601:5601"
        networks:
            - elastic

networks:
  elastic:
    driver: bridge
