version: "3.5"
services:
    zookeeper:
        image: wurstmeister/zookeeper
 
    kafka:
        image: wurstmeister/kafka
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: localhost
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181

    postgres:
        image: postgres
        ports:
            - "5432:5432"
        environment:
            POSTGRES_DB: diadb
            POSTGRES_USER: diauser
            POSTGRES_PASSWORD: diapassword
            POSTGRES_DATA: /var/lib/postgresql/data/pgdata
        volumes:
            - "postgres:/var/lib/postgresql/data"

volumes:
  postgres: