version: "3.5"
services:
    zookeeper:
        image: wurstmeister/zookeeper:latest

    kafka:
        image: wurstmeister/kafka:2.12-2.5.0
        depends_on:
            - zookeeper
        ports:
            - "9092:9092"
        environment:
            KAFKA_ADVERTISED_HOST_NAME: kafka
            KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
